
.hero{
    padding: 5.6vw;
    min-height: 101vh;
    background-image: url(../images/Untitled\ Project.jpg);
    background-size: cover;
    text-align: center;
    @media (max-width: 768px){
        background-image: url(../images/hero_celular.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        padding-top: calc(50vw + 25px) ;
        min-height: 100vh;
        
        
    }
    &__content{
        max-width: 640px;
        &__name{
            margin: 0 auto;
            padding-bottom: 16px;
            font-size: 2em;
            @media (max-width: 768px){
                font-size: 1em;
                margin-top: 80px;
            }
        }
        &__links{
            display: flex;
            justify-content: center;
            padding-top: 32px;
            &--icon{
                padding: 16px;
                transition: transform .2s;
                &:hover{
                    transform: scale(1.2);
                }
                img{
                    @media (max-width: 768px){
                        height: 40px;
                       
                    }
                }
            }
        }
    }
}