@use 'variaveis';
@use 'hero';
@use 'portifolio';
@use 'skills';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    background-color: variaveis.$corFundo ;
}

@mixin text(){
    font-size: 2em;
    line-height: normal;
    color: variaveis.$corTextoSecundario;
}
@mixin title(){
    font-size: 3em;
    font-weight: bold;
    color: variaveis.$corTextoPrincipal;
    
}
.text{
    @include text()
}
.title{
    @include title()
}

.hidden{
  opacity: 0;
  filter: blur(15px);
  transform: translateX(-100%);
  transition: all 1s;

}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 0.5s;
}
